/* Base Styles */
body {
    font-family: 'Arvo', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #283149;
}

h1 {
    font-family: 'Fleur De Leah', cursive;
    font-size: 4em;
    margin: 10px 0;
    color: white;
}

.surah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}

/* Button Styling */
.quran {
    font-size: 1.5rem;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    color: #DA0463;
    border: 10px solid #404B69;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Arvo', cursive;
}

.quran:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05);
}

/* Mobile View - Larger Buttons in Vertical Layout */
@media (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .surah {
        flex-direction: column;
        gap: 15px;
    }

    .quran {
        font-size: 2rem;
        width: 90%;
        height: 100px;
    }

    footer {
        margin-bottom: 10px;
    }
}

footer {
    font-size: 1rem;
    color: white;
    margin-bottom: 30px;
}